[Unit]
Description=Valleycam
After=multi-user.target

[Service]
User=lee
WorkingDirectory=/home/lee/picamera-streamer
ExecStart=/usr/bin/python -u /home/lee/picamera-streamer/picamera.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
