[Unit]
Description=Picamera
After=multi-user.target

[Service]
User=lee
WorkingDirectory=/home/pi/picamera
ExecStart=/usr/bin/python -u /home/pi/picamera/picamera.py
Restart=on-failure

[Install]
WantedBy=multi-user.target